.header {
  border-bottom: 1px solid rgba(181, 181, 181, 1);
}

.section {
  width: calc(100% - 320px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-top: 112px;
  padding-bottom: 112px;
  gap: 48px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.item {
  padding-top: 16px;
  padding-bottom: 32px;
  border-bottom: 0.5px solid rgba(163, 163, 163, 1);
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
}

.itemsDiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}

.productImg {
  width: 90px;
}

.nameDiv {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nameDiv div:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.nameDiv div:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.counterDiv {
  display: flex;
  gap: 24px;
}

.counterDiv div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counterDiv div:first-child img {
  width: 24px;
  height: 24px;
}

.counterDiv div:first-child span {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border: 0.5px solid rgba(217, 217, 217, 1);
}

.counterDiv div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 3%;
}

.closeButton {
  width: 24px;
  height: 24px;
  margin: auto;
}

.orderDiv {
  height: fit-content;
}

.infoInputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 56px 64px;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 10px;
}

.infoTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: rgba(17, 17, 17, 1);
}

.infoInputsDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoInputsDiv label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(84, 84, 84, 1);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.codeInput {
  width: 100%;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 14px;
  height: 56px;
  outline: none;
}

.applyNumber {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 14px;
  height: 56px;
  display: flex;
}

.applyNumber input {
  width: 100%;
  padding: 1px 1px 1px 16px;
  border: none;
  margin: 0;
  outline: none;
  height: 80%;
  margin: auto;
}

.applyButton {
  width: 76.45px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 8px;
  margin: auto 16px auto auto;
  background: transparent;
  cursor: pointer;
}

.applyButton:hover {
  background-color: black;
  color: #fff;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.totalCost {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3%;
}

.servicesCost {
  display: flex;
  justify-content: space-between;
  max-width: 65%;
}

.servicesCost span:first-child {
  color: rgba(84, 84, 84, 1);
  align-self: center;
}

.servicesCost span:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3%;
  color: rgba(0, 0, 0, 1);
}

.checkoutBlack {
  width: 100%;
}

.checkoutBlack button {
  background-color: black;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  margin-top: 24px;
}

.checkoutBlack button:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 1439px) {
  .section {
    width: calc(100% - 150px);
  }
}

@media (max-width: 1119px) {
  .section {
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
    padding: 40px 0;
    gap: 40px;
  }

  .item {
    grid-template-columns: 1fr 4fr;
    gap: 8px;
  }

  .productImg {
    padding-right: 7px;
  }

  .infoInputs {
    padding: 56px 16px;
  }

  .servicesCost {
    max-width: 100%;
  }
}