.fourthSection {
  width: fit-content;
  padding: 56px 0;
  margin: auto;
  width: 100%;
}

.fourthSectionDiv {
  width: fit-content;
  margin: auto;
}

.fourthSectionFilter {
  display: flex;
  gap: 32px;
}

.fourthSectionFilter div {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: rgba(139, 139, 139, 1);
}

.fourthSectionFilter div:first-child {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid black;
}

.buyCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
  gap: 16px;
}

.buyCardDiv {
  background-color: rgba(246, 246, 246, 1);
  max-width: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 72px 16px 24px;
  border-radius: 9px;
  position: relative;
  box-sizing: border-box;
}

.buyCardDiv img:first-child {
  position: absolute;
  right: 16px;
  top: 24px;
}

.buyCardDivText {
  max-width: 236px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.buyNowBlack {
  max-width: 188px;
  width: 100%;
}

.buyNowBlack button {
  background-color: black;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  margin-top: 8px;
}

.buyNowBlack button:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
}

.fifthSection {
  padding: 80px 0;
}

@media (max-width: 1439px) {
  .buyCards {
    gap: 10px;
  }

  .buyCardDiv {
    max-width: 236px;
  }

  .buyCardDivText {
    max-width: 213px;
  }
}

@media (max-width: 1119px) {
  .fourthSection {
    width: calc(100% - 32px);
    padding: 56px 16px;
  }

  .fourthSectionDiv {
    width: 100%;
  }

  .fourthSectionFilter {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 8px;
  }

  .buyCards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 343px;
    margin: 32px auto 0;
  }

  .buyCardDiv {
    max-width: 163.5px;
    padding: 24px 12px;
    gap: 8px;
  }

  .buyCardDiv img:first-child {
    right: 12px;
    top: 24px;
    width: 24px;
  }

  .buyCardDiv img:nth-child(2) {
    margin-top: 40px;
    max-width: 104px;
    height: auto;
  }

  .buyCardDivText {
    max-width: 100%;
    width: 100%;
  }

  .buyNowBlack button {
    font-size: 14px;
    padding: 0 8px;
    margin-top: 4px;
  }

  .buyCardDivText div:first-child {
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .fifthSection {
    padding: 40px 16px;
  }
}